<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="COR101">
  <div class="portlet light no-padding">
    <div class="portlet-body no-padding">
      <div class="form-horizontal">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding form-group flex-container-sal401"
          style="justify-content: center;"
        >
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <div class="box-center flex-inputs-sal401 inline-inputs">
              <label style="flex: 1 1 40%;">Novedad</label>
              <div class="input-group" style="flex: 1 1 60%;">
                <input
                  :value="novedad.descripcion"
                  type="text"
                  class="form-control center"
                  data-orden="1"
                  disabled=""
                />
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
            <div
              id="validar_codigo"
              class="box-center flex-inputs-sal401 inline-inputs"
            >
              <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Código
              </label>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 input-group">
                <input
                  v-model="datos_w.codigo"
                  type="text"
                  class="form-control center"
                  maxlength="3"
                  data-orden="1" 
                  disabled=""
                  @keydown.f8="ventana_codigo"
                />
              </div>
              <button
                type="button"
                class="col-xs-2 col-sm-2 col-md-2 col-lg-2 btn btn-default f8-Btn"
              >
                <i class="icon-magnifier"></i>
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div
              id="validar_descripcion"
              class="box-center flex-inputs-sal401 inline-inputs"
            >
              <label style="flex: 1 1 30%;">Descripción</label>
              <div class="input-group" style="flex: 1 1 70%;">
                <input
                  v-model="datos_w.descripcion"
                  type="text"
                  class="form-control center"
                  maxlength="30"
                  data-orden="1"
                  disabled=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../COR/scripts/COR101_v2.js"></script>
<style>
  #COR101 .box-center {
    margin-bottom: 0 !important;
  }

  .flex-container-sal401 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .flex-container-sal401 > div {
    padding: 0.5rem;
  }
  .flex-inputs-sal401 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
</style>
