<div class="portlet light col-md-12 col-sm-12 col-xs-12" id="SER109V">
    <div class="portlet-body">
        <form class="form-horizontal">
            <div class="form-group col-md-10 col-sm-12 col-xs-12 box-center" style="float: none; margin: 0 auto;">
                <div class="col-md-5 col-sm-4 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-4 col-sm-5 col-xs-12">Nit del cliente:</label>
                        <div class="input-group col-md-6 col-sm-7 col-xs-12" id="VALIDAR1_SER109V">
                            <input v-model="form.cliente_SER109V" data-orden="1" maxlength="10" @Keyup.F8='_f8cliente_SER109V' 
                            class="form-control col-md-12 col-sm-12 col-xs-12 cliente_SER109V ">
                        </div>
                        <button type="button" @click='_f8cliente_SER109V'
                            class="btn  f8-Btn btn-default col-md-1 col-sm-1 col-xs-1">
                            <i class="icon-magnifier"></i>
                        </button>
                        <div class="input-group col-md-8 col-sm-12 col-xs-12">
                            <input type="text" v-model='form.decripcliente_SER109V'
                                class="form-control col-md-12 col-sm-12 col-xs-12 ">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-7 col-sm-7 col-xs-12">Prefijo:</label>
                        <div class="input-group col-md-5 col-sm-5 col-xs-12" id="VALIDAR2_SER109V">
                            <input class="form-control col-md-12 col-sm-12 col-xs-12" data-orden="1" maxlength="1"
                                placeholder="Ambulatorio o Pensionado" id='prefijo_SER109V'>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-2 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-4 col-sm-7 col-xs-12">Numero desdes:</label>
                        <div class="input-group col-md-4 col-sm-5 col-xs-12" id="VALIDAR3_SER109V">
                            <input v-model="form.numerodesde_SER109V" class="form-control col-md-12 col-sm-12 col-xs-12 numerodesde_SER109V"
                                data-orden="1" maxlength="6" @Keyup.F8='_f8numerodesde_SER109V'>
                        </div>
                        <button type="button" @click='_f8numerodesde_SER109V'
                            class="btn  f8-Btn btn-default col-md-1 col-sm-1 col-xs-1">
                            <i class="icon-magnifier"></i>
                        </button>
                        <div class="input-group col-md-10 col-sm-5 col-xs-12">
                            <input v-model="form.descripnumerodesde_SER109V"
                                class="form-control col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </div>

                <div class="salto-linea"></div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-5 col-sm-5 col-xs-12">Numero hasta:</label>
                        <div class="input-group col-md-6 col-sm-7 col-xs-12" id="VALIDAR4_SER109V">
                            <input v-model="form.numerohasta_SER109V" @Keyup.F8='_f8numerohasta_SER109V'
                                class="form-control col-md-12 col-sm-12 col-xs-12 numerohasta_SER109V" data-orden="1" maxlength="6">
                        </div>
                        <button type="button" @click='_f8numerohasta_SER109V'
                            class="btn  f8-Btn btn-default col-md-1 col-sm-1 col-xs-1">
                            <i class="icon-magnifier"></i>
                        </button>
                        <div class="input-group col-md-7 col-sm-7 col-xs-12">
                            <input v-model="form.descripnumerohasta_SER109V"
                                class="form-control col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-4 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-5 col-sm-5 col-xs-12">Ciudad:</label>
                        <div class="input-group col-md-6 col-sm-7 col-xs-12" id="VALIDAR5_SER109V">
                            <input v-model="form.ciudad_SER109V" data-orden="1" maxlength="5" @Keyup.F8='_f8ciudad_SER109V' 
                            class="form-control col-md-12 col-sm-12 col-xs-12 ciudad_SER109V">
                        </div>
                        <button type="button" @click='_f8ciudad_SER109V'
                            class="btn  f8-Btn btn-default col-md-1 col-sm-1 col-xs-1">
                            <i class="icon-magnifier"></i>
                        </button>
                        <div class="input-group col-md-8 col-sm-12 col-xs-12">
                            <input type="text" v-model='form.decripciudad_SER109V'
                                class="form-control col-md-12 col-sm-12 col-xs-12 ">
                        </div>
                    </div>
                </div>
                <div class="salto-linea"></div>
                <div class="col-md-6 col-sm-6 col-xs-12" id="VALIDAR6_SER109V">
                    <label class="col-md-12 col-sm-12 col-xs-12">Observación</label>
                    <textarea v-model="form.observacion_SER109V" class="form-control" rows="3" data-orden="1"
                        maxlength="180" style="resize: none;"></textarea>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12" id="VALIDAR6_SER109V">
                    <label class="col-md-12 col-sm-12 col-xs-12">Anexos</label>
                    <textarea v-model="form.anexos_SER109V" class="form-control" rows="3" data-orden="2" maxlength="180"
                        style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12 box-center" style="float: none; margin: 0 auto;"
                id="ADICIONALES_SER109V">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-10 col-sm-10 col-xs-12">Desea bloquear la factura?:</label>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR7_SER109V">
                            <input id="bloquearfactura_SER109V" class="form-control col-md-12 col-sm-12 col-xs-12"
                                maxlength="1" data-orden="1" placeholder="S/N">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-6 col-sm-6 col-xs-12">Fecha de Factura:</label>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR8_SER109V">
                            <input v-model="form.fechafacturaano_SER109V"
                                class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="2" data-orden="1"
                                placeholder="AA">
                        </div>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR8_SER109V">
                            <input v-model="form.fechafacturames_SER109V"
                                class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="2" data-orden="2"
                                placeholder="MM">
                        </div>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR8_SER109V">
                            <input v-model="form.fechafacturadia_SER109V"
                                class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="2" data-orden="3"
                                placeholder="DD">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-10 col-sm-10 col-xs-12">Desea discriminar drogueria?:</label>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR9_SER109V">
                            <input id="discriminardro_SER109V" class="form-control col-md-12 col-sm-12 col-xs-12"
                                data-orden="1" maxlength="1" placeholder="S/N">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-10 col-sm-10 col-xs-12">Desea subtotal x comprobante:</label>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR10_SER109V">
                            <input id="subtotalcomp_SER109V" class="form-control col-md-12 col-sm-12 col-xs-12"
                                data-orden="1" maxlength="1" placeholder="S/N">
                        </div>
                    </div>
                </div>
                <div class="salto-linea"></div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-10 col-sm-10 col-xs-12">Imprimir Factura Original?:</label>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR11_SER109V">
                            <input id="facturaoriginal_SER109V" class="form-control col-md-12 col-sm-12 col-xs-12"
                                data-orden="1" maxlength="1" placeholder="S/N">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="inline-inputs">
                        <label class="col-md-10 col-sm-10 col-xs-12">Numero de copias:</label>
                        <div class="input-group col-md-2 col-sm-2 col-xs-12" id="VALIDAR12_SER109V">
                            <input v-model="form.numerocpias_SER109V" class="form-control col-md-12 col-sm-12 col-xs-12"
                                data-orden="1" maxlength="1">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../../SALUD/scripts/SER109V.js" type="text/javascript"></script>