<div class="col-md-12" id="PRY001">

    <div class="portlet light no-padding">
        <div class="portlet-body no-padding">

            <div class="form-horizontal">

                <div class="col-md-6 col-sm-12 col-xs-12 no-padding">

                    <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <label>Ciudad</label>
                            <div class="inline-inputs">
                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                    <input v-model="municipio.COD_CIU" type="number" style="text-align: center;"
                                        class="form-control col-md-12 col-sm-12 col-xs-12">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-6 col-xs-12" style="text-align: left;">
                            <label>Nombre</label>
                            <div class="inline-inputs">
                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                    <input v-model="ciud_escogida.nombre" type="text"
                                        class="form-control col-md-12 col-sm-12 col-xs-12">
                                </div>
                            </div>
                        </div>

                        <div class="salto-linea"></div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
                            <label>Descripcion</label>
                            <div class="inline-inputs">
                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                    <input v-model="municipio.NOMBRE" type="text"
                                        class="form-control col-md-12 col-sm-12 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 no-padding" style="display: flex">

                        <div class="col-md-6 no-padding">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">

                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <label>Funcionario</label>
                                    <div class="inline-inputs">
                                        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                            <input v-model="municipio.funcionario" type="number"
                                                style="text-align: center;"
                                                class="form-control col-md-12 col-sm-12 col-xs-12">
                                        </div>
                                    </div>
                                </div>

                                <div class="salto-linea"></div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
                                    <label>Cargo</label>
                                    <div class="inline-inputs">
                                        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                            <input v-model="municipio.cargo" type="text"
                                                class="form-control col-md-12 col-sm-12 col-xs-12">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-md-6" style="padding-right: 0;">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Telefono</label>
                                    <div class="inline-inputs">
                                        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                            <input v-model="municipio.TELEFONO" type="number"
                                                style="text-align: center;"
                                                class="form-control col-md-12 col-sm-12 col-xs-12">
                                        </div>
                                    </div>
                                </div>

                                <div class="salto-linea"></div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
                                    <label>NIT</label>
                                    <div class="inline-inputs">
                                        <div class="input-group col-md-10 col-sm-10 col-xs-10">
                                            <input v-model="municipio.NIT" type="number"
                                                class="form-control col-md-12 col-sm-12 col-xs-12">
                                        </div>
                                        <div class="input-group col-md-2 col-sm-2 col-xs-2">
                                            <input v-model="municipio.DV" type="number"
                                                class="form-control col-md-12 col-sm-12 col-xs-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" style="padding-right: 0;">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="../../PRY/scripts/PRY001.js" type="text/javascript"></script>