<!-- <script src="../../HICLIN/scripts/HCI02.js" disabled='disabled' type="text/javascript"></script> -->

<div class="col-md-12" id="HC003A">
    <div class="portlet light no-padding"
        style="background-color: transparent !important; box-shadow: none !important;">
        <div class="portlet-body">
            <form class="form-horizontal" onsubmit="return false;">
                <div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">
                        <div class="col-md-12 col-xs-12 col-sm-12" style="padding-left:18px;text-align: left;">
                            <label>Aplicacion De Medicamentos</label>
                        </div>
                        <div class="salto-linea head-box"></div>

                        <div class="col-md-2">
                            <label class="col-md-12" style="text-align: left;">Atiende:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="validarAtiende_003A">
                                <div class="inline-inputs">
                                    <input v-model="form.descripAtiende_003A" type="text"
                                        class="form-control col-md-2 col-sm-12 col-xs-12 uppercase descripAtiende_HC003"
                                        maxlength="10" disabled="disabled" data-orden="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <!-- <label class="col-md-12" style="text-align: left;">Cargo:</label> -->
                            <div class="salto-linea"></div>
                            <div class="salto-linea"></div>
                            <div class="salto-linea"></div>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="validarCargo_003A">
                                <div class="inline-inputs">
                                    <input v-model="form.cargo_003A" type="text"
                                        class="form-control col-md-2 col-sm-12 col-xs-12 uppercase cargo_HC003A"
                                        maxlength="10" disabled="disabled" data-orden="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label class="col-md-12" style="text-align: left;">Und Servicio:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="validarUnserv_003A">
                                <div class="inline-inputs">
                                    <input v-model="form.unser_003A" type="text"
                                        class="form-control col-md-2 col-sm-12 col-xs-12 uppercase unser_HC003A"
                                        maxlength="10" disabled="disabled" data-orden="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <label class="col-md-12" style="text-align: left;">Folio:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="validarFolio_003A">
                                <div class="inline-inputs">
                                    <input v-model="form.folio_003A" type="text"
                                        class="form-control col-md-2 col-sm-12 col-xs-12 uppercase folio_HC003A"
                                        maxlength="10" disabled="disabled" data-orden="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="col-md-3 no-padding">
                                <label class="col-md-12">Año:</label>
                                <div class="input-group col-md-12 col-sm-12 col-xs-12" style="text-align: center;"
                                    id="año_HC003A">
                                    <div class="inline-inputs">
                                        <input v-model="form.año_003A" type="number"
                                            class="form-control col-md-2 col-sm-12 col-xs-12" maxlength="4"
                                            data-orden="2" disabled="disabled" required="true"
                                            style="text-align: center;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 no-padding">
                                <label class="col-md-12">Mes:</label>
                                <div class="input-group col-md-12 col-sm-12 col-xs-12" style="text-align: center;"
                                    id="mes_HC003A">
                                    <div class="inline-inputs">
                                        <input v-model="form.mes_003A" type="number"
                                            class="form-control col-md-2 col-sm-12 col-xs-12" maxlength="2"
                                            data-orden="3" disabled="disabled" required="true"
                                            style="text-align: center;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 no-padding">
                                <label class="col-md-12">Dia:</label>
                                <div class="input-group col-md-12 col-sm-12 col-xs-12" style="text-align: center;"
                                    id="dia_HC003A">
                                    <div class="inline-inputs">
                                        <input v-model="form.dia_003A" type="number"
                                            class="form-control col-md-2 col-sm-12 col-xs-12" maxlength="2"
                                            data-orden="4" disabled="disabled" required="true"
                                            style="text-align: center;">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 no-padding">
                                <div class="col-md-6 no-padding">
                                    <label class="col-md-12">Hr:</label>
                                    <div class="input-group col-md-12 col-sm-12 col-xs-12" style="text-align: center;"
                                        id="hora_HC003A">
                                        <div class="inline-inputs">
                                            <input v-model="form.hora_003A" type="number"
                                                class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="2"
                                                data-orden="5" disabled="disabled" required="true"
                                                style="text-align: center; height: 34px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 no-padding">
                                    <label class="col-md-12">Mn:</label>
                                    <div class="input-group col-md-12 col-sm-12 col-xs-12" style="text-align: center;"
                                        id="minutos_HC003A">
                                        <div class="inline-inputs">
                                            <input v-model="form.minutos_003A" type="number"
                                                class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="2"
                                                data-orden="5" disabled="disabled" ref="minutos_medica_HC003A"
                                                required="true" style="text-align: center; height: 34px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-1">
                            <label class="col-md-12" style="text-align: left;">Operador:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="">

                                <div class="inline-inputs">
                                    <div class="input-group col-md-8 col-sm-12 col-xs-12" id="validarOper_003A">
                                        <input @keyup.f8="ventana_operadores" v-model="form.oper_003A" type="text"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase oper_003A"
                                            maxlength="4" disabled="disabled" data-orden="1">
                                    </div>
                                    <button @click="ventana_operadores" type="button"
                                        class="btn col-md-4 col-sm-2 col-xs-2 f8-Btn">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="salto-linea"></div>

                <div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">

                        <div class="col-md-1">
                            <label class="col-md-12" style="text-align: center;">Item:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="itm_HC003A">
                                <div class="inline-inputs">
                                    <input v-model="form.itm_003A" type="number"
                                        class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="3" data-orden="1"
                                        required="true" disabled="disabled" style="text-align: center;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12" style="text-align: left;">Descripcion:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="validarDetalleAp_003A">

                                <div class="inline-inputs">
                                    <div class="input-group col-md-3 col-sm-12 col-xs-12" id="medicamentos_HC003A">
                                        <input @keyup.f8="_ventanaMedicamentos_HC003A" v-model="form.medicamentos_003A"
                                            type="text"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase medicamentos_003A"
                                            maxlength="13" disabled="disabled" data-orden="1">
                                    </div>
                                    <button @click="_ventanaMedicamentos_HC003A" type="button"
                                        class="btn col-md-1 col-sm-2 col-xs-2 f8-Btn">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                    <div class="input-group col-md-8 col-sm-12 col-xs-12">
                                        <input v-model="form.descrip_003A" type="text"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase"
                                            disabled="disabled" maxlength="20" data-orden="">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-1">
                            <label class="col-md-12" style="text-align: center;">Cantidad:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="cantidadFormu_HC003A">
                                <div class="inline-inputs">
                                    <input v-model="form.cantidadFormu_003A" type="number"
                                        class="form-control col-md-12 col-sm-12 col-xs-12" maxlength="3" data-orden="1"
                                        required="true" disabled="disabled" style="text-align: center;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="col-md-6" style="text-align: left;">Detalle Aplicacion:</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12" id="validarDetalleAp_003A">
                                <div class="inline-inputs">
                                    <label class="col-md-3 col-sm-8 col-xs-12">administrar</label>
                                    <div class="input-group col-md-3 col-sm-12 col-xs-12" id="cantidad_HC003A">
                                        <input v-model="form.cantidad_003A" type="number"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase" maxlength="11"
                                            data-orden="1" disabled="disabled" required="true">
                                    </div>
                                    <div class="input-group col-md-3 col-sm-12 col-xs-12" id="medida_HC003A">
                                        <input v-model="form.medida_003A" type="text"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase medida_003A"
                                            maxlength="20" disabled="disabled" data-orden="1" required="true">
                                    </div>
                                    <label class="col-md-2 col-sm-8 col-xs-12">cada</label>
                                    <div class="input-group col-md-2 col-sm-12 col-xs-12" id="tiempo_HC003A">
                                        <input v-model="form.tiempo_003A" type="number"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase tiempo_003A"
                                            maxlength="2" disabled="disabled" data-orden="1" required="true">
                                    </div>
                                    <div class="input-group col-md-2 col-sm-12 col-xs-12" id="tiempoCada_HC003A">
                                        <input v-model="form.tiempoCada_003A" type="text"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase tiempoCada_003A"
                                            maxlength="20" disabled="disabled" data-orden="1" required="true">
                                    </div>
                                    <div class="input-group col-md-3 col-sm-12 col-xs-12" id="vias_HC003A">
                                        <input v-model="form.vias_003A" type="text"
                                            class="form-control col-md-12 col-sm-12 col-xs-12 uppercase vias_003A"
                                            maxlength="20" disabled="disabled" data-orden="1" required="true">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 box-center">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-scrollable">
                            <table id="table_contenido" class="table table-light table-striped"
                                style="text-align: left;">
                                <thead>
                                    <tr>
                                        <!-- <th style="width: 15px;">&nbsp; Itm &nbsp;</th> -->
                                        <th>&nbsp;# Item &nbsp;</th>
                                        <th>Año</th>
                                        <th>Mes</th>
                                        <th>Dia</th>
                                        <th>Hora</th>
                                        <th>Descripcion</th>
                                        <th>cantidad</th>
                                        <th>Dosis</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in hc003a.tablaMedica">

                                        <td style="width: 15%;">
                                            <label> {{ item.item.toString().padStart(2,"0") }} </label>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"
                                                style="margin-bottom: 14px !important;">
                                                <input type="checkbox" @click="_deleteItemFormu_HC003A"
                                                    :value="item.item">
                                                <span></span>
                                            </label>
                                        </td>

                                        <!-- <td>{{item.item}}</td> -->
                                        <td>{{item.año}}</td>
                                        <td>{{item.mes}}</td>
                                        <td>{{item.dia}}</td>
                                        <td>{{item.hora}}</td>
                                        <td>{{item.medicamento}}</td>
                                        <td>{{item.cantidadFormu}}</td>
                                        <td>{{item.cantidad_tabla}}</td>
                                        <td>{{item.observaciones}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <transition name="modal_prosoft" v-if="modal_observ">
                    <div class="overlay_prosoft">
                        <div class="modal_prosoft">
                            <div class="container_prosoft">
                                <div class="header_prosoft">
                                    <p style="padding: 9px 25px;margin: 0 auto;">Observaciones</p>
                                </div>
                                <div class="body_prosoft">
                                    <div class="col-md-12">
                                        <div class="portlet light no-padding">
                                            <div class="portlet-body">
                                                <form class="form-horizontal" onsubmit="return false;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12"
                                                            style="margin-bottom: 5px;">
                                                            <div class="col-md-12 col-sm-12 col-xs-12" id="obser_HC003A">
                                                                <textarea
                                                                    class="form-control col-md-12 col-sm-12 col-xs-12" v-model="form.obser_003A"
                                                                    maxlength="156" data-orden="1" disabled="disabled" rows="5"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <!-- <div class="footer_prosoft hidden">
                                    <div class="footer_container">
                                        <button class="btn_acept_prosoft">Aceptar</button>
                                        <button class="btn_cancel_prosoft">Cancelar</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </transition>

            </form>
        </div>
    </div>
</div>


<script src="../../frameworks/pdf/hiclin/HC003A.formato.js" disabled='disabled' type="text/javascript"></script>
<script src="../../frameworks/pdf/hiclin/HC003A-2.formato.js" disabled='disabled' type="text/javascript"></script>
<script src="../../HICLIN/scripts/HC003A.js" disabled='disabled' type="text/javascript"></script>