<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<div class="col-md-12" id="HC9052">
  <div class="portlet light no-padding">
    <div class="portlet-body no-padding">
      <div class="form-horizontal">
        <div class="col-md-12 no-padding box-center">
          <div class="col-md-4" style="padding-left: 0">
            <div class="form-group col-md-12 box-center">
              <div class="col-md-12 no-padding">
                <div class="col-md-12 head-box" style="padding-bottom: 0 !important">
                  <label class="col-md-12" style="text-align: center">Unidad de Servicio</label>
                </div>
                <div class="inline-inputs col-md-12 no-padding" id="unserv">
                  <div class="input-group col-md-3">
                    <input
                      v-model="unserv"
                      type="text"
                      class="form-control unserv"
                      style="text-align: center"
                      data-orden="1"
                      @keydown.f8="_ventanaUnserv"
                      maxlength="2"
                      required="true"
                    />
                  </div>
                  <button @click="_ventanaUnserv" type="button" class="btn col-md-1 f8-Btn">
                    <i class="icon-magnifier"></i>
                  </button>
                  <div class="input-group col-md-8">
                    <input v-model="descrip_unserv" type="text" class="form-control" style="text-align: center" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="padding-left: 0">
            <div class="form-group col-md-12 box-center">
              <div class="col-md-12 no-padding">
                <div class="col-md-12 head-box" style="padding-bottom: 0 !important">
                  <label class="col-md-12" style="text-align: center">Finalidad Consul.PYP</label>
                </div>
                <div class="inline-inputs col-md-12 no-padding" id="finalidad">
                  <div class="input-group col-md-3">
                    <input
                      v-model="finalidad"
                      type="text"
                      class="form-control finalidad"
                      style="text-align: center"
                      data-orden="1"
                      @keydown.f8="_ventanaFinalidades"
                      maxlength="2"
                      required="true"
                    />
                  </div>
                  <button @click="_ventanaFinalidades" type="button" class="btn col-md-1 f8-Btn">
                    <i class="icon-magnifier"></i>
                  </button>
                  <div class="input-group col-md-8">
                    <input v-model="descrip_finalidad" type="text" class="form-control" style="text-align: center" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 no-padding">
            <div class="form-group col-md-12 box-center">
              <div class="col-md-12 no-padding">
                <div class="col-md-12 head-box" style="padding-bottom: 0 !important">
                  <label class="col-md-12" style="text-align: center">Personal que atiende</label>
                </div>
                <div class="inline-inputs col-md-12 no-padding" id="profesional">
                  <div class="input-group col-md-3">
                    <input
                      v-model="profesional"
                      type="text"
                      class="form-control profesional"
                      style="text-align: center"
                      data-orden="1"
                      @keydown.f8="_ventanaProfesionales"
                      maxlength="10"
                      required="true"
                    />
                  </div>
                  <button @click="_ventanaProfesionales" type="button" class="btn col-md-1 f8-Btn">
                    <i class="icon-magnifier"></i>
                  </button>
                  <div class="input-group col-md-8">
                    <input v-model="descrip_profesional" type="text" class="form-control" style="text-align: center" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="salto-linea"></div>

          <div class="col-md-4" style="padding-left: 0">
            <div class="form-group col-md-12 box-center">
              <div class="col-md-12 no-padding" style="text-align: center">
                <div class="col-md-12 head-box" style="padding-bottom: 0 !important">
                  <label>Fecha Inicial</label>
                </div>
                <div class="col-md-12 no-padding" id="fecha_inicial">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <label class="col-md-12">Año</label>
                    <div class="input-group col-md-12 col-sm-5 col-xs-5">
                      <input
                        v-model="ano_ini"
                        type="number"
                        class="form-control col-md-12 text-center"
                        maxlength="4"
                        data-orden="1"
                        required="true"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <label class="col-md-12 col-sm-6 col-xs-6">Mes</label>
                    <div class="input-group col-md-12 col-sm-5 col-xs-5">
                      <input
                        v-model="mes_ini"
                        type="number"
                        class="form-control col-md-12 text-center"
                        maxlength="2"
                        data-orden="2"
                        required="true"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <label class="col-md-12 col-sm-12 col-xs-6">Dia</label>
                    <div class="input-group col-md-12 col-sm-5 col-xs-5">
                      <input
                        v-model="dia_ini"
                        type="number"
                        class="form-control col-md-12 text-center"
                        maxlength="2"
                        data-orden="3"
                        required="true"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="padding-left: 0">
            <div class="form-group col-md-12 box-center">
              <div class="col-md-12 no-padding" style="text-align: center">
                <div class="col-md-12 head-box" style="padding-bottom: 0 !important">
                  <label>Fecha Final</label>
                </div>
                <div class="col-md-12 no-padding" id="fecha_final">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <label class="col-md-12">Año</label>
                    <div class="input-group col-md-12 col-sm-5 col-xs-5">
                      <input
                        v-model="ano_fin"
                        type="number"
                        class="form-control col-md-12 text-center"
                        maxlength="4"
                        required="true"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <label class="col-md-12 col-sm-6 col-xs-6">Mes</label>
                    <div class="input-group col-md-12 col-sm-5 col-xs-5">
                      <input
                        v-model="mes_fin"
                        type="number"
                        class="form-control col-md-12 text-center"
                        maxlength="2"
                        data-orden="2"
                        required="true"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <label class="col-md-12 col-sm-12 col-xs-6">Dia</label>
                    <div class="input-group col-md-12 col-sm-5 col-xs-5">
                      <input
                        v-model="dia_fin"
                        type="number"
                        class="form-control col-md-12 text-center"
                        maxlength="2"
                        data-orden="3"
                        required="true"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 no-padding">
            <div class="col-md-12 box-center form-group">
              <div class="inline-inputs col-md-12 no-padding">
                <label class="col-md-4" style="text-align: left; background: 0">Incluir evoluciones?</label>
                <div class="input-group col-md-2">
                  <input
                    v-model="evoluciones"
                    type="text"
                    class="form-control evoluciones"
                    style="text-align: center"
                    data-orden="1"
                    maxlength="1"
                    required="true"
                  />
                </div>
                <button type="button" class="btn col-md-1 f8-Btn">
                  <i class="icon-magnifier"></i>
                </button>
                <div class="input-group col-md-5">
                  <input v-model="descrip_evoluciones" type="text" class="form-control" style="text-align: center" />
                </div>
              </div>

              <div class="salto-linea"></div>

              <div class="inline-inputs col-md-12 no-padding" style="margin-top: 4px">
                <label class="col-md-4" style="text-align: left; background: 0">Nro Sucursal</label>
                <div class="input-group col-md-2" id="sucursal">
                  <input
                    v-model="sucursal"
                    type="text"
                    class="form-control"
                    style="text-align: center"
                    data-orden="1"
                    maxlength="2"
                  />
                </div>
                <div class="input-group col-md-6" style="margin-left: 4px">
                  <input v-model="descrip_sucursal" type="text" class="form-control" style="text-align: center" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <loader_modal :estado="estado_loader" :progreso="progreso" :loader="loader" :label="label_loader"></loader_modal>
  </div>
</div>

<script src="../../HICLIN/scripts/HC9052.js" type="text/javascript"></script>
